body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url('../images/dino.png');
    position: absolute; /* o elemento vai ficar na posição que eu defini, independente do que tem em volta */
    bottom: 0;
}

.joia-vermelha {
    width: 60px;
    height: 60px;
    background-image: url('../images/joia-vermelha.png');
    background-repeat: no-repeat;
    position: absolute; /* o elemento vai ficar na posição que eu defini, independente do que tem em volta */
    bottom: 0;
}

.joia-azul {
    width: 60px;
    height: 60px;
    background-image: url('../images/joia-azul.png');
    background-repeat: no-repeat;
    position: absolute; /* o elemento vai ficar na posição que eu defini, independente do que tem em volta */
    bottom: 0;
}

.pedra {
    width: 60px;
    height: 60px;
    background-image: url('../images/pedra.png');
    background-repeat: no-repeat;
    position: absolute; /* o elemento vai ficar na posição que eu defini, independente do que tem em volta */
    bottom: 0;
}

.cactus {
    position: absolute;
    bottom: 0;
    background-image: url('../images/cactus.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.game-over {
    text-align: center;
    color: #666;
    margin-top: 50px;
    font-family: arial;
}

/* Serve para definir etapas de uma animação  */
@keyframes slideright {
    from {
        background-position: 70000%; /* Bem para esquerda */
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    animation: slideright 200s infinite linear; /* O fundo vai deslizar para a direita com a velocidade de 600 segundo de maneira infinita*/
    width: 100%;
    height: 200px;
}